*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 3px solid #000;
  background-color: #fff;

  .fill {
    background-image: url(https://source.unsplash.com/random/150x150);
    height: 145px;
    width: 145px;
    cursor: pointer;
  }
}

// applied to the image when we drag it
.hold {
  border: 5px solid #ccc;
}

// applided to a box when we drag the image over the box
.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}
