@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

$line-border-fill: #3498db;
$line-border-empty: #e0e0e0;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Muli", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress {
  background-color: $line-border-fill;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.4s ease;
  height: 4px;
  width: 0;
  z-index: -1;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;

  &::before {
    @extend .progress;
    content: "";
    background-color: $line-border-empty;
    width: 100%;
    // TODO: remove transition
    // transition: none;
  }
}

.circle {
  background-color: #fff;
  border: 3px solid $line-border-empty;
  border-radius: 50%;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  transition: 0.4s ease;

  &.active {
    border-color: $line-border-fill;
  }
}

.btn {
  background-color: $line-border-fill;
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $line-border-empty;
    cursor: not-allowed;
  }
}
