@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

h3 {
  margin-bottom: 0;
  text-align: center;
}

small {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.fa-heart {
  color: red;
}

.love-me {
  height: 440px;
  width: 300px;
  background: url("../images/ferrari.jpg") no-repeat center center/cover;
  margin: auto;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 14px 28px rgba(black, 0.25), 0 10px 10px rgba(black, 0.22);

  .fa-heart {
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
